.container-style-user {
  display: grid;
  grid-template-areas: "profile";
  margin-top: 25px;
  margin-right: 25px;
}

.profile-style {
  grid-area: profile;
}
.page-header-container {
  display: grid;
  grid-template-areas:
    "picture"
    "info"
    "tabs";
}
.picture-style {
  grid-area: picture;
}

.info-style {
  grid-area: info;
}

.tabs-style {
  grid-area: tabs;
  margin-top: -50px;
}

.activities-container {
  display: grid;
  grid-template-areas: "setting-feed activity-feed";
  margin-top: 25px;
  margin-right: 25px;
}

.setting-feed {
  grid-area: setting-feed;
}
.activity-feed {
  grid-area: activity-feed;
}

@media only screen and (max-width: 480px)  {
  .page-header-container {
    display: grid;
    grid-template-areas:
      "picture"
      "info"
      "tabs"
      "tabs";
  }
  .picture-style{
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

  .info-style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  }

  .edit {
    margin-bottom: 50px;
  }

    .setting-feed {
      display: none;
      zoom: 0.7;
      -moz-transform: scale(0.7);
    }

    .activities-container {
      zoom: 0.80;
      -moz-transform: scale(0.80);
      position: absolute;
    }

  .name-section-style-second {
    border-left: solid transparent 2em;
  }


  }
